* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    
    font-weight: 725;
    background-image: url('https://img.freepik.com/free-vector/gradient-black-background-with-wavy-lines_23-2149157312.jpg?size=626&ext=jpg&ga=GA1.1.1700460183.1712534400&semt=ais');
    background-size: 100% 100vh; /* Adjusted background size */
    background-repeat: no-repeat; 
    color: rgba(158, 120, 120, 0.4); 
    align-items: center;
    display: grid;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
    color: #fff;
    text-align: center;
    padding: 10px 0; /* Decrease header padding */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-container {
    justify-content: center;
    display: flex;
}

.nav-container {
    margin-left: auto;
    margin-top: 10px;
}

.login-button,
.about-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 28px;
    padding: 20px 40px; /* Increased padding for a bigger button */
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50px; /* Adjusted border radius */
}

.about-button:hover,
.login-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.text-elements {
    text-align: center;
    color: #fff;
    font-size: 60px;
    margin-top: 120px;
}

.start {
    text-align: center;
    font-size: 40px;
    margin-top: 135px; /* Adjusted margin-top */
    position: relative; 
}

.start button {
    background: transparent;
    padding: 25px 50px; /* Increased padding for a bigger button */
    font-size: 30px;
    font-weight: 750;
    text-decoration: none;
    cursor: pointer;
    border: 3px solid rgb(74, 74, 78); /* Adjusted border thickness */
    border-radius: 50px; /* Adjusted border radius */
    outline: none;
    overflow: hidden;
    color: rgb(255, 255, 255);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
    position: relative; 
    z-index: 1; 
    font-family: 'Open Sans', sans-serif; /* Set font family */
}

.start button::before {
    position: absolute;
    top: -30px; /* Adjusted position to cover the border */
    left: -30px; /* Adjusted position to cover the border */
    right: -30px; /* Adjusted position to cover the border */
    bottom: -30px; /* Adjusted position to cover the border */
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    background-color: transparent; /* Removed background color */
    transition: opacity 0.5s ease; /* Added transition for opacity */
    z-index: -1;
    opacity: 0; /* Initially hidden */
}

.start button:hover {
    color: #fff;
    border-color: rgb(108, 108, 109); /* Changed border color on hover */
}

.start button:hover::before {
    opacity: 1; /* Show the background color on hover */
    background-color: rgb(108, 108, 108); /* Fill the border on hover */
}

.hidden {
    display: none;
}

.content-container {
    position: relative;
    max-height: 5000px;
    overflow-y: auto;
    margin-top: 50px;
}



.footer {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    text-align: left; /* Align the copyright message to the left */
    margin-left: 10px; /* Move the footer slightly to the left */
    font-family: 'Arial', sans-serif; /* Updated font */
}

.logo-container {
    text-align: center; /* Center the logo */
    flex: 1; /* Take up remaining space */
}

.logo {
    max-width: 100px; /* Adjust the size of the logo as needed */
    display: inline-block; /* Ensure the logo is treated as a block element */
    margin-left: 20px; /* Move the logo 4 tab spaces to the right */
    width: 70px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer p {
    margin-bottom: 5px; /* Add spacing between contact details */
    margin-right: 10px;
}

/* Style links in the footer */
footer a {
    text-decoration: none; /* Remove underline */
    color: #ccc; /* Lighter shade of black */
}

/* Style links on hover */
footer a:hover {
    color: #aaa; /* Darker shade on hover */
}