<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>External API Functionalities</title>
</head>
<body>
    <div class="sidebar">
        <!-- Define links/buttons for each functionality -->
        <a href="/external_api/text_file_guest">Create Invoice from Text File</a><br>
        <a href="/external_api/guest_gui">GUI</a><br>
        <a href="/external_api/database">Database of new api</a><br>
        
        <!-- Add more links/buttons for other functionalities -->
    </div>
</body>
</html>