<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Invoicing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='indexStyle.css') }}">

</head>
<body>
    <h1>A4</h1>
    <div><a href="{{url_for('authenticate_user.signup')}}">register</a></div>
    <div><a href="{{url_for('authenticate_user.login')}}">login</a></div>
    <div><a href="{{url_for('home')}}">A4 Page</a></div>
</body>
</html>