<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A4 E-Invoicing</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='indexStyle.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
            <nav class="nav-container">
                <ul>
                    <li>
                        <a href="{{ url_for('authenticate_user.login') }}" class="login-button">Login</a>
                        <a href="{{ url_for('about') }}" class="about-button">About Us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    
    
    <div class="text-elements">
        <div><b1>Welcome to A4 E-Commerce</b1></div>
        <b2>Get Started Below</b2>
    </div>
    <div class="start">
        <button id="startButton">Start Your Financial Journey</button>
    </div>
    <div class="content-container">
        <div id="authSection" class="hidden">
            <a href="{{ url_for('authenticate_user.signup') }}">
                <button id="register" class="register-button">Register New User</button>
            </a>
        </div>
    </div> 
    <footer class="footer">
        <div class="footer-left">
            <p>&copy; 2024 A4 E-Invoicing Services. All rights reserved.</p>
        </div>
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
        </div>
        <phone>
            <p><i class="bi bi-telephone"></i><a href="tel:1300864679">1300 864 679</a></p>
        </phone>
        <mail>
            <p><i class="bi bi-envelope"><a href="mailto:anujindersingh@gmail.com">a4@a4help.com</a></i></p>
        </mail>
        <location>
            <p><i class="bi bi-geo-alt"></i><a href="https://www.google.com/maps?q=37.243165448876255,-115.82409235658486">A4 Headquarters</a></p>
        </location>
    </footer>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>