<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A4 E-Invoicing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='indexStyle.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>Welcome to A4 E-Invoicing Services</h1>
        </div>
    </header>

    <footer class="footer">
        <p>&copy; 2024 A4 E-Invoicing Services. All rights reserved.</p>
    </footer>
</body>
</html>